@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");



* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

.text-primary-p {
  color: #a5aaad;
  font-size: 14px;
  font-weight: 700;
}

.font-bold {
  font-weight: 700;
}

.text-title {
  color: #2e4a66;
}

.text-lightblue {
  color: #469cac;
}

.text-red {
  color: #cc3d38;
}

.text-yellow {
  color: #a98921;
}

.text-green {
  color: #3b9668;
}

.container {
  background-color: #000000;
  color: #ffff;
  display: grid;
  height: 100vh;
  grid-template-columns: 0.45fr 1fr 1fr 1fr;
  grid-template-rows: 0.16fr 3fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main";
  /* grid-gap: 0.2rem; */
}

.navbar {
  background: #2e364d;
  grid-area: nav;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 30px;
  
}

.nav_icon {
  display: none;
}

.nav_icon > i {
  font-size: 26px;
  color: #a5aaad;
}

.navbar__left > a {
  margin-right: 30px;
  text-decoration: none;
  color: #a5aaad;
  font-size: 15px;
  font-weight: 700;
}

.navbar__left .active_link {
  color: #265acc;
  border-bottom: 3px solid #265acc;
  padding-bottom: 12px;
}

.navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__right > a {
  margin-left: 20px;
  text-decoration: none;
}

.navbar__right > a > i {
  color: #9d9eb0;
  font-size: 20px;
}

main {
  background: linear-gradient(120deg, #353f5a, #16151a);
  grid-area: main;
  overflow-y: hidden;
}

.main__container {
  padding: 20px 20px;
}

.main__title {
  display: flex;
  align-items: center;
}

.main__title > img {
  max-height: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.main__greeting > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.main__greeting > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}

/*  SIDEBAR STARTS HERE  */

#sidebar {
  background: #2e364d;
  grid-area: sidebar;
  overflow-y: auto;
  padding: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebar__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f3f4f6;
  
}


.sidebar__title > div > img {
  width: 75px;
  object-fit: contain;
}



.sidebar__title > i {
  font-size: 18px;
  display: none;
}

.sidebar__menu > h2 {
  color: #3ea175;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0 10px;
  font-weight: 700;
}

.sidebar__menu > a{
  text-decoration: none;
  margin-bottom: 5px;
}

.sidebar__menu > a > div > span {
  font-size: 15px;
  font-weight: 1000;
}

.sidebar__link {
  color: #9d9eb0;
  padding: 15px;
  border-radius: 3px;
  text-align: center;
  border-radius: 0.625rem;
  box-shadow: 0 5px 10px rgba(12,16,31,0.4);
}

.active_menu_link {
  background: #6533ae;
  color: #ffffff;
}

.active_menu_link a {
  color: #ffffff !important;
}

.sidebar__link > a {
  text-decoration: none;
  color: #a5aaad;
  font-weight: 700;
  font-size: 20px;
}

.sidebar__link > i {
  font-size: 35px;
}

.sidebar__logout {
 
  padding: 10px;
  color: #e65061;
}

.sidebar__logout > a {
  text-decoration: none;
  color: #e65061;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}

.sidebar__logout > i {
  margin-right: 10px;
  font-size: 18px;
}

.sidebar_responsive {
  display: inline !important;
  z-index: 9999 !important;
  left: 0 !important;
  position: absolute;
}

@media only screen and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    /* grid-template-rows: 0.2fr 2.2fr; */
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "nav"
      "main";
  }

  #sidebar {
    display: none;
  }

  .sidebar__title > i {
    display: inline;
  }

  .nav_icon {
    display: inline;
  }
}


@media only screen and (max-width: 480px) {
  .navbar__left {
    display: none;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  background: #2e364d;
  width: 280px;
  margin-bottom: 5px;

}

.card_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_inner > span {
  font-size: 14px;
  color:lightskyblue;
}

.dashboard{
  margin-top: 30px;
  flex: 50%;
  padding: 35px;
  align-items: center;
  justify-content: center;
}


/* dashboard active circle */

.btndiv{
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logodiv{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logodiv>h1{
  color: rgba(255,255,255,0.1); 
  font-size: 40px;
   margin-top: 100px; 
}

.text {
  color: #fff;
  padding: 30px 10px 30px 20px;
  font-size: 50px;
  font-weight: 10px;
  margin-top: 10px;
  text-align: centre;
  font-family: lato;
  font-weight: 300;
  background-color: rgba(116, 238, 21, 0.75);
  line-height: 10px;
  box-sizing: border-box;
  width: 400px;
}

#outer_circle {
  margin: 20px auto;
  width: 200px;
  height: 200px;
  border: 2px solid #262d42;
  border-radius: 100%;
  background-color: #2e364d;
  box-shadow: 0 0 20px #262d42;
  animation: loading3 linear 2s infinite;
  box-shadow: 0 0 5px  rgba(116, 238, 21, 0.75);
}

#animated_circle {
  position: absolute;
  border-radius: 100%;
  background-color: rgba(116, 238, 21, 0.75);
  animation: loading ease 2s infinite;
}

#inner_circle {
  color: grey;
  -webkit-font-family: "Segoe UI Light";
  font-family: "Segoe UI";
  position: absolute;
  margin: 35px;
  background: #2e364d;
  border-radius: 100%;
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px  rgba(116, 238, 21, 0.75);;
}

.spany { 
  font-weight: bolder;
  font-size: x-large;
  animation: loading2 ease 2s infinite;
}

@keyframes loading {
  

 
}

@keyframes loading2 {
  0% {
    color: rgba(116, 238, 21, 0.5);
  }
  50% {
    color: rgba(116, 238, 21, 0.75);
  }
  100% {
    color: rgba(116, 238, 21, 0.5);
  }
}

@keyframes loading3 {
  0% {
    border-color: rgba(116, 238, 21, 0.75);
  }
  50% {
    border-color: #262d42;
  }
  100% {
    border-color: rgba(116, 238, 21, 0.75);
  }
}


/* circle ended */